@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
.app {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin-bottom: 0px;
}

.header p {
  font-size: 0.9em;
  margin-top: 0px;
  color: #0a1fa8;
}

@media only screen and (min-width:600px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}